README.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea
*.iws
*.iml
*.ipr
.vscode/
/menuSql/
/tmp/
/vp/
/src/main/resources/static/static/
/src/main/resources/static/favicon.ico
/src/main/resources/static/index.html
