// 主题颜色变量
$primary-color: #42b883;

$blue: #409EFF;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

$sidebar-width: 200px;
$sidebar-collapse-width: 64px;


// 导出给 JavaScript/TypeScript 使用
:export {
  primaryColor: $primary-color;
}
